<nav class="navbar">
    <div class="nav-left">
        <!--<a class="brand" href="/index.html">Leila Gharavi</a>-->
        <a class="brand" href="/index.html">Home</a>
    </div>

    <div class="nav-right">
        <!--<a href="/index.html" class="nav-link">Home</a>
        <a href="/academia.html" class="nav-link">Academia</a>
        <a href="/skills.html" class="nav-link">Skills</a>
        <a href="/sclptcycle.html" class="nav-link">SclptCycle</a>-->

        <a href="https://github.com/leilagharavi" target="_blank" rel="noopener no-referrer"><i class="fa-brands fa-github"></i></a>
        <a href="https://scholar.google.com/citations?hl=en&user=1U8gUSYAAAAJ" target="_blank" rel="noopener no-referrer"><i class="fa-brands fa-google-scholar"></i></a>
        <a href="https://orcid.org/0000-0003-0301-3504" target="_blank" rel="noopener no-referrer"><i class="fa-brands fa-orcid"></i></a>
        <a href="https://www.linkedin.com/in/leila-gharavi/" target="_blank" rel="noopener no-referrer"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="mailto:gharavi95@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</nav>
